/* This CSS reset is based on Andy Bell's "Modern CSS Reset" - https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Set accent color and apply to focus, selection, list markers and links*/
:root {
	--brand: auto;
}

html {
	accent-color: var(--brand);
}

:focus {
	outline: 2px solid var(--brand);
}

::selection {
	background-color: var(--brand);
}

::marker,
a {
	color: var(--brand);
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
	outline: none;
}

/* Set root font size to 10px equivalent to help calculate rem et reset body font-size to 16px equivalent */
html {
	font-size: calc(1em * 0.625); /* Equivalent to 62.5%, but with IE9-IE11 math fixing. */
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	font-family: sans-serif;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles, margin and padding on ul, ol elements with a class, which suggests default styling will be removed. Use of :where set specificity to 0 */
:where(ul[class], ol[class]) {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Set cursor pointer for form elements and buttons */
label[for],
button,
input[type="submit"],
select {
	cursor: pointer;
}

/* Remove font style on address */
address {
	font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Helpers */

/* Visually hide text content while preserving it for assistive technologies */
.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}